{% extends 'base.html' %}
{% block title %}微博文章分析{% endblock %}
{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 mb-4 mt-1">
                <div class="d-flex flex-wrap justify-content-between align-items-center">
                    <h4 class="font-weight-bold">微博文章分析</h4>

                </div>
            </div>
            <div class="col-lg-12 col-md-12">
                <div class="card card-block card-stretch card-height">
                    <div class="card-body p-10">
                        <div>
                            <label>文章分类选择：</label>
                            <select onchange="changeHotWord(event)" style="width: 150px">
                                {% for arcType in arcTypeList %}

                                    <option {{ 'selected' if defaultArcType==arcType else '' }}
                                            value="{{ arcType }}">{{ arcType }}</option>

                                {% endfor %}
                            </select>
                            <script>
                                function changeHotWord(e) {
                                    window.location.href = 'http://localhost:5000/page/articleDataAnalysis?arcType=' + e.target.value
                                }
                            </script>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6">
                <div class="card">
                    <div class="card-header d-flex justify-content-between">
                        <div class="header-title">
                            <h4 class="card-title">文章点赞分析</h4>
                        </div>
                    </div>
                    <div class="card-body">
                        <div id="dzMain" style="width:100%;height:450px">

                        </div>
                    </div>
                </div>

            </div>
            <div class="col-lg-6">
                <div class="card">
                    <div class="card-header d-flex justify-content-between">
                        <div class="header-title">
                            <h4 class="card-title">文章评论量分析</h4>
                        </div>
                    </div>
                    <div class="card-body">
                        <div id="plMain" style="width:100%;height:450px">

                        </div>
                    </div>
                </div>

            </div>
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header d-flex justify-content-between">
                        <div class="header-title">
                            <h4 class="card-title">文章转发量分析</h4>
                        </div>
                    </div>
                    <div class="card-body">
                        <div id="zfmain" style="width:100%;height:450px">

                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
{% endblock %}
{% block echarts %}
    <script>
        // 获取容器元素
        var barChart = document.getElementById('dzMain');

        // 初始化 ECharts 实例
        var myChart = echarts.init(barChart);

        // 自定义颜色方案
        var colors = ['#66CC99', '#FFCC66', '#FF6666', '#6699CC'];

        // 配置柱状图选项
        var option = {
            title: {
                text: '点赞区间统计'
            },
            tooltip: {
                trigger: 'item',
                formatter: '{a} <br/>{b}: {c} (个)'
            },
            legend: {},
            xAxis: {
                type: 'category',
                data: {{ xDzData|tojson }},
                axisLabel: {
                    color: '#333' // 设置 x 轴刻度标签颜色
                }
            },
            yAxis: {
                type: 'value',
                axisLabel: {
                    color: '#333' // 设置 y 轴刻度标签颜色
                }
            },
            series: [
                {
                    name: '点赞数量',
                    type: 'bar',

                    data:{{ yDzData }},
                    itemStyle: {
                        color: function (params) {
                            return colors[params.dataIndex % colors.length];
                        }
                    },
                    animation: true,  // 启用动画效果
                    animationDuration: 1000,  // 动画持续时间（毫秒）
                    animationEasing: 'elasticOut',  // 动画缓动函数
                    emphasis: {
                        itemStyle: {
                            color: '#3398DB'  // 高亮显示的颜色
                        }
                    }
                }
            ]
        };

        // 使用配置项显示柱状图
        myChart.setOption(option);

    </script>

    <script>
        var chartDom = document.getElementById('plMain');
        var myChart = echarts.init(chartDom);
        var option;

        option = {

            title: {
                text: '文章评论量区间占比'
            },
            xAxis: {
                type: 'category',
                data: {{ xPlData |tojson }}
            },
            yAxis: {
                type: 'value'
            },
            series: [
                {
                    data: {{ yPlData }},
                    type: 'line',
                    symbol: 'triangle',
                    symbolSize: 20,
                    lineStyle: {
                        color: '#5470C6',
                        width: 4,
                        type: 'dashed'
                    },
                    itemStyle: {
                        borderWidth: 3,
                        borderColor: '#EE6666',
                        color: 'yellow'
                    }
                }
            ]
        };

        option && myChart.setOption(option);

    </script>


    <script>
        var chartDom = document.getElementById('zfmain');
        var myChart = echarts.init(chartDom);
        var option;

        option = {
            title: {
                text: '转发量区间分析图'
            },
            tooltip: {
                trigger: 'axis',
                axisPointer: {
                    type: 'shadow'
                }
            },

            legend: {},
            grid: {
                left: '3%',
                right: '4%',
                bottom: '3%',
                containLabel: true
            },
            xAxis: {
                type: 'value',
                boundaryGap: [0, 0.01]
            },
            yAxis: {
                type: 'category',
                data: {{ xZfData |tojson }}
            },
            series: [
                {
                    name: '转发个数',
                    type: 'bar',
                    data: {{ yZfData }}
                }
            ]
        };

        option && myChart.setOption(option);
    </script>
{% endblock %}